.section-title {
    text-align: center;
    color: #26752b;
    text-transform: uppercase;
}

 h1
{
     font-size: 32px;
     text-transform: uppercase;
    
     position: relative;
     padding-bottom: 10px;
     text-align: center;
     color: #ffffff;
}