body {
	padding: 0;
	margin: 0;
	background: #eee;
}

.card {
    display: block;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}

.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.h1 {
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: 600; 
	font-size: 28px; 
	line-height: 130%; 
	color: #26752b;
  text-align: center;
  }

.addeventatc a {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #fff;
  background-color: #26752b;
  padding: 2px 8px;
  font-size: 14px;
  border-radius: 5px;
  display:inline-block;
  font-family:"Open Sans",Roboto,"Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
  font-weight:600;
  text-decoration:none;
  }						