form.register-wthree .form-control {
    padding: 15px 20px;
    border: 1px solid #dbdde2;
    border-radius: 0;
    -webkit-box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
    -moz-box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
    box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
    letter-spacing: 1px;
}

.form-group {
    font-weight: bold;
    color: #26752b;
}

.lol {
    text-align: center !important;
    font-weight: bold;
    color: #26752b !important;
}

.lol a {
    color: #26752b !important;
}

.contact-form-layouts {
    padding: 2em;
    border: 20px solid #eee;
    border-radius: 20px;
}

.cont-form {
    margin: 1em 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.7em;
    color: #26752b;
}

h3 {
    color: #26752b;
}

.alert {
    border-radius: 10px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background: #26752b;
    color: #fff;
    margin-bottom: 10px;
    display: none;
}

@media screen and (max-width: 568px) {
    h5.cont-form {
        margin: 0 0 1em 0;
    }
    h5.cont-form {
        font-size: 1.5em;
    }
    .paxmp {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 10px;
    }
}

@media screen and (max-width: 414px) {
    .contact-form-layouts {
        padding: 1em;
        border: 10px solid #eee;
    }
    form.register-wthree .form-control {
        padding: 7px 20px;
        font-size: 0.85em;
    }
}